/* body {
    font-family: Arial;
    margin: 0;
    padding: 20;
    margin: 0;
    padding: 0;
} */



.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.navigationBar a {
    text-decoration: none;
    font-size: 18px;
    /* margin: -40px -40px 0 -20px */
}

.navigation-links a {
    padding-left: 30px;
    text-decoration: none;
}

.logo {
    color: #064645a9;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}